@page 
@using WebApp.Business.DtoModels;
@model CreateModel

@{
    if (Model.Error != null)
    {
        <div class="alert alert-danger">@Model.Error</div>
    }
}

<form method="post">
    <div class="row">
        <div class="form-group col-md-9">
            <label asp-for="@Model.OfficerDto.Name"></label>
            <input asp-for="@Model.OfficerDto.Name" class="form-control" />
            <span asp-validation-for="@Model.OfficerDto.Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.OfficerDto.Rank"></label>
            <input asp-for="@Model.OfficerDto.Rank" class="form-control" />
            <span asp-validation-for="@Model.OfficerDto.Rank" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.OfficerDto.SpaceStationId"></label>
            
            <select asp-for="@Model.OfficerDto.SpaceStationId" class="form-select" aria-label="Default select example">
                <option selected>Select a SpaceStation</option>
                @{
                    foreach(SpaceStationDto ss in Model.StationsList)
                    {
                        <option value="@ss.SpaceStationId">@ss.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.OfficerDto.SpaceStationId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-4">Create</button>
</form>