@page 
@using WebApp.Business.DtoModels;
@model CreateModel

@{
    ViewData["Title"] = "Create Officer";
    if (Model.Error != null)
    {
        <div class="alert alert-danger">@Model.Error</div>
    }
}

<div class="text-center">
    <p class="display-6 m-5 text-white">Create an Officer</p>
</div>

<form method="post">
    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="form-group m-3 w-50">
            <label class="text-white" asp-for="@Model.OfficerDto.Name"></label>
            <input asp-for="@Model.OfficerDto.Name" class="form-control" />
            <span asp-validation-for="@Model.OfficerDto.Name" class="text-danger"></span>
        </div>

        <div class="form-group m-3 w-50">
            <label class="text-white"  asp-for="@Model.OfficerDto.Rank"></label>
            <input asp-for="@Model.OfficerDto.Rank" class="form-control" />
            <span asp-validation-for="@Model.OfficerDto.Rank" class="text-danger"></span>
        </div>

        <div class="form-group m-3 w-50">
            <label class="text-white" asp-for="@Model.OfficerDto.SpaceStationId">Space Station</label>
            <select asp-for="@Model.OfficerDto.SpaceStationId" class="form-select" aria-label="Default select example">
                <option selected>Select a Space Station</option>
                @{
                    foreach (SpaceStationDto ss in Model.StationsList.OrderBy(x => x.Name).ToList())
                    {
                        <option value="@ss.SpaceStationId">@ss.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.OfficerDto.SpaceStationId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-info btn-lg mt-4">Create</button>
    </div>
</form>